<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/blogformsubmit" method="post" enctype="multipart/form-data">
        <label for="postimg">Post image</label>
        <input type="file" name="postimg" id=""> <br>

        <!-- <label for="postimg2">Post image 2</label>
        <input type="file" name="postimg2"> <br>

        <label for="postimg3">Post image 3</label>
        <input type="file" name="postimg3"> <br> -->

        <label for="title">Post title</label>
        <input type="text" name="title" id=""> <br>
        <label for="date">Post date</label>
        <input type="date" name="date" id=""> <br>
        <label for="smalldesc">Post Short desc</label>
        <input type="text" name="smalldesc" id=""> <br>
        <label for="basicdef">Post Basic def</label>
        <input type="text" name="basicdef" id=""> <br>
        <label for="fulldesc">Post Full desc</label>
        <input type="text" name="fulldesc" id=""> <br>
       
        <input type="submit" name="submit"> <br>
        

    </form>
</body>
</html>